<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Home Page</title>
        <link rel="stylesheet" th:href="@{/css/standard.css}">
        <script>
            const userId = userID;
        </script>
        <script th:src="@{/js/index.js}" type="text/javascript"></script>
    </head>
    <body>
        <div class="Logout">
            <form class="logout-form" method="post" action="/logout">
                <button type="submit" class="primary">Logout</button>
            </form>
        </div>
        <div class="content">
        </div>
    </body>
</html>
